# =======================================================
# Файлы, генерируемые IntelliJ Platform Gradle Plugin
.intellijPlatform/

# =======================================================
# Файлы, генерируемые Gradle
.gradle
build/
# Исключение для Gradle Wrapper, чтобы сборка была воспроизводимой
!gradle/wrapper/gradle-wrapper.jar

# =======================================================
.idea/
# Файлы старого формата проектов IDEA
*.iws
*.iml
*.ipr

# =======================================================
# Файлы других IDE и систем
.vscode/
.DS_Store
Thumbs.db
*.log
hs_err_pid*
# Папки с результатами компиляции других систем (на всякий случай)
out/
bin/
dist/